
        * {
            box-sizing: border-box;
        }

        body {
            color: #000;
            background: #cf6b4b;
            text-align: center;
            font-family: 'Anton', sans-serif;
            padding: 1em;
        }

        .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    perspective: 1000px;
}

    .card {
        width: 200px;
        height: 200px;
        margin: 10px;
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out, transform 0.3s scale(1), transform 0.3s translateY(0);
        cursor: pointer;
    }
    .card:hover {
        transform: translateY(-10px) translateX(0) rotate(0deg) scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
        .card-inner {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.5s;
        }
        .card:active {
    transform: scale(1) translateY(0);
    transition: transform 0.3s ease-in-out;
}
        .card .front,
        .card .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card .front {
            background: #000;
            color: #fff;
        }

        .card .back {
            background: #000;
            transform: rotateY(180deg);
        }

        .card .back img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }

        .card-title {
            font-size: 2em;
            margin: 20px 0;
        }

        .centered-card {
            transform: translate(-50%, -50%) rotate(0deg) !important;
            z-index: 1;
            width: 400px;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .return-button {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background: #cf6b4b;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            display: none;
        }

        .shuffle-button {
            background: #963e21;
            color: white;
            border: none;
            padding: 10px 0;
            width: 200px;
            cursor: pointer;
            margin: 0 auto;
            transition: background-color 0.3s, transform 0.2s;
        }
        
        .shuffle-button:active {
            background: #6b2f15; /* Change the background color when pressed */
            transform: scale(0.95); /* Add a scaling effect when pressed */
        }
        
        .card .back {
            background: #000;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column; /* Display the elements in a column layout */
            align-items: center; /* Center elements horizontally */
            justify-content: center; /* Center elements vertically */
        }
        
        .card .back img {
            width: 100%;
            height: auto; /* Maintain the image's aspect ratio */
            object-fit: cover;
        }
        
        .card .back p {
            color: white; /* Make the text white */
            text-align: center; /* Center the text */
            margin-bottom: 100px; /* Add spacing from the image */
            margin-top: -10px;
        }
        